.sidebar {
    background-color: rgb(36, 41, 51);
    height: 100vh;


}

.coursesContainer {
    z-index: -1;
}

.mobileSideBar {
    z-index: 1;
    background-color: rgb(36, 41, 51);
}

.sidebar-catagory {
    z-index: -1;



}