@keyframes bg-animi {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.684), rgba(0, 0, 0, 0.665)), url("./../../../public/assets/header3.png");

    }


    50% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.665)), url("./../../../public/assets/header2.png");

    }




    100% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.641), rgba(0, 0, 0, 0.66)), url("./../../../public/assets/header3.png");

    }
}


@keyframes body-animi {

    0% {
        background-color: #de105c89;


    }

    25% {
        background-color: #c8dc5490;


    }

    50% {
        background-color: #222b20c4;

    }




    80% {
        background-color: #2776b67c;


    }

    100% {
        background-color: #37c03276;


    }
}

.navbar {

    background-color: #2b2024c4;
}

.header {


    background-image: linear-gradient(rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.575));
    animation: bg-animi 10s linear infinite alternate;
    min-height: 520px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.btn-purple {
    background-color: rgb(100, 25, 230);

}

.btn-purple:hover {
    background-color: rgb(131, 72, 233);

}

.bg-opacity {
    background-image: linear-gradient(135deg, rgba(204, 152, 193, 0.211), rgba(233, 6, 184, 0.544));
}

.bg-opacity-gray {
    background-image: linear-gradient(135deg, rgba(224, 218, 223, 0.14), rgba(69, 149, 186, 0.544));
}

.accordion-button:not(.collapsed) {
    color: rgb(166, 173, 186);
    background-color: rgb(21, 25, 32);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);

}

.accordion-button {
    color: rgb(166, 173, 186);
    background-color: rgb(21, 25, 32);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);

}

.accordion-body {
    color: rgb(166, 173, 186);
    background-color: rgb(21, 25, 32);

}

.accordion-item {
    border: none;

}

.certificate {
    background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.719)), url('../../../public/assets/certificate.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    clip-path: polygon(100% 0%, 100% 60%, 50% 100%, 0 60%, 0 0);
}